.activeCampaignContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.activeCampaignsButton {
  font-size: 1.7rem;
  color: var(--blue-dark);
  background-color: transparent;
  border-color: var(--blue-dark);
}

.activeCampaignsButton:hover {
  background-color: var(--blue-dark);
  color: var(--light);
}
