.activeCampaignsButtonsGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activeCampaignsButton {
  font-size: 1.7rem;
  margin-right: 10px;
}

.activeCampaignsModalTitle {
  color: var(--blue-dark);
  margin: 10px;
  margin-bottom: 30px;
}

.modalHeaderCloseButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.modalHeaderCloseButton:hover {
  color: var(--gray);
}

.spinnerColor {
  color: var(--blue-dark);
}
