.user-info,
.active-campaigns,
.future-campaigns {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.419rem);
    -webkit-backdrop-filter: blur(0.419rem);
    border: 1px solid rgba(255, 255, 255, 0.53);
    margin: 5rem auto;
    padding: 2.5rem 1.875rem;
    color: var(--light);
}

.active-campaigns,
.future-campaigns {
    max-width: 80%;
}

.user-info {
    max-width: 43.75rem;
}

.user-info-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.name-wrapper,
.birth-date-wrapper,
.gender-wrapper,
.country-wrapper,
.city-wrapper,
.phone-number-wrapper {
    margin-right: 0.313rem;
}

.edit-button {
    margin: 0.313rem auto 0 auto;
    cursor: pointer;
    width: fit-content;
}

.edit-button:hover {
    text-decoration: underline;
}

.campaigns-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
}

.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.current-news-wrapper {
    flex: 0 0 200px;
    background-color: #011222;
    border-radius: 0.5rem;
}

.current-news-wrapper:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.news img {
    width: 100%;
    height: 12.75rem;
    aspect-ratio: 16/9;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.title-wrapper,
.source-wrapper {
    margin: 0;
    color: var(--light);
    font-weight: bold;
    font-size: 1.3rem;
}

.title-wrapper {
    padding: 1rem 1rem 0.6rem 1rem;
}

.source-wrapper {
    padding: 0 1rem 0.3rem 1rem;
}

@media (width <= 600px) {
    .news {
        max-width: 90%;
        margin: 0 auto 1rem auto;
        padding: 0;
    }

    .news-wrapper {
        justify-content: space-evenly;
        padding: 0;
    }

    .news img {
        width: 100%;
        height: 10rem;
        aspect-ratio: 16/9;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .current-news-wrapper {
        flex: 1 1 100px;
    }
}

@media (width > 600px) and (width < 850px) {
    .news {
        max-width: 100%;
        margin: 0 auto 1rem auto;
    }

    .news-wrapper {
        display: flex;
        justify-content: center;
    }

    .news img {
        width: 100%;
        height: 14rem;
        aspect-ratio: 16/9;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .current-news-wrapper {
        flex: 0 0 250px;
    }
}

@media (width > 850px) {
    .news {
        max-width: 90%;
        margin: 0 auto 1rem auto;
    }

    .news-wrapper {
        display: flex;
        justify-content: center;
    }

    .news img {
        width: 100%;
        height: 14rem;
        aspect-ratio: 16/9;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .current-news-wrapper {
        flex: 0 0 300px;
    }
}
