.invalidInput {
  color: var(--red) !important;
}

.inputGroupInputLabel {
  margin-bottom: 0px !important;
}

.guestInputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroupInputField {
  width: 100% !important;
}
