version: "3.8"

services:

  postgres:
    container_name: e-gov-postgres
    build:
      context: ../../dev-env
      dockerfile: dockerfiles/postgres.Dockerfile
    image: postgres
    env_file:
      - ../docker.env
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  frontend:
    container_name: e-gov-react
    build:
      context: ../../frontend
      dockerfile: ../frontend/frontend.Dockerfile
    image: react
    ports:
      - "3000:3000"

  main:
    container_name: e-gov-spring-boot
    build:
      context: ../../main
      dockerfile: ../main/main.Dockerfile
    image: main
    env_file:
      - ../docker.env
    ports:
      - "8080:8080"

  access-control:
    container_name: e-gov-access-control
    build:
      context: ../../access-control
      dockerfile: ../access-control/access-control.Dockerfile
    image: access-control
    ports:
      - "8083:8083"

  auth:
    container_name: e-gov-auth
    build:
      context: ../../authentication
      dockerfile: ../authentication/authentication.Dockerfile
    image: auth
    ports:
      - "8082:8082"

  redis:
    container_name: e-gov-redis
    image: redis:7.2.4
    ports:
      - "6379:6379"

      
