.createVotingCampaignContainer {
  display: flex;
  flex-direction: column;
}

.createVotingCampaignInputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.createVotingCampaignInputGroupSelect {
  padding: 10px 5px;
  margin-bottom: 0px !important;
}

.createVotingCampaignInputGroupInputLabel {
  margin-bottom: 0px !important;
  padding: 10px;
}

.createVotingCampaignInputGroupInputField {
  width: 100% !important;
}

.createVotingCampaignCandidateInputDateGroup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
}

.censusModalButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.censusModalButton {
  background-color: var(--blue-dark);
}
