.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.53);
    color: var(--light);
    max-width: fit-content;
    margin: 50px auto;
    padding: 40px 100px;
}

@media screen and (min-width: 330px) and (max-width: 400px) {
    .container {
        width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 40px 100px;
    }
}
