.navbarNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: transparent;
}

.navbarLogoImageContainer {
  padding: 0px;
}

.navbarLogoImage {
  width: 70px;
}

.navbarNavLink {
  color: var(--gray) !important;
  font-size: 1.1rem;
}
.navbarNavLink:hover {
  color: var(--blue-dark) !important;
}

.activeCampaigns {
  background-color: var(--gray);
  color: var(--light) !important;
}

.activeCampaigns:hover {
  background-color: var(--blue-dark);
  color: var(--light) !important;
}
