.disabledModalFooterButton {
  background-color: var(--gray);
}

.disabledModalFooterButton:hover {
  background-color: var(--gray);
}

.modalFooterButtonGroup {
  display: "flex";
  justify-content: "space-between";
  width: 100%;
}

.modalFooterButton {
  background-color: var(--blue-dark);
}
