.modalHeaderCloseButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.modalHeaderCloseButton:hover {
  color: var(--gray);
}

.modalFooterButtonGroup {
  display: "flex";
  justify-content: "space-between";
  width: 100%;
}

.modalFooterButton {
  background-color: var(--blue-dark);
}
