.modalHeaderCloseButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.modalHeaderCloseButton:hover {
  color: var(--gray);
}

.modalFooterCloseButton {
  background-color: var(--blue-dark);
}
