.modalHeaderCloseButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.modalHeaderCloseButton:hover {
  color: var(--gray);
}

.modalFooterButtonGroup {
  display: "flex";
  justify-content: "space-between";
  width: 100%;
}

.modalFooterButton {
  background-color: var(--blue-dark);
}

.electionRowContainerPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.electionRowContainer {
  border: 2px solid var(--dark);
  border-radius: 10px;
  padding: 20px 0px;
  width: 70%;
}
