.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.53);
  color: var(--light);
  max-width: 900px;
  margin: 50px auto;
  padding: 40px 30px;
}

.pieChartBackground {
  background: var(--light);
  border-radius: 10px;
}

.resultsContainer {
  padding: 50px;
}

.results,
.regionResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.regionSelect {
  padding: 5px;
  font-size: 1.1rem;
  border-radius: 10px;
  position: relative;
  margin-right: -600px;
  margin-top: -40px;
}

.regionTitle {
  padding-top: 40px;
}

.pieChart label {
  color: "white" !important;
  border: 1px solid black;
}
