.container {
  width: 30%;
  background: linear-gradient(144deg, #1f0050, transparent 100%);
  padding: 20px;
  box-shadow: 0px 0px 20px 3px #1f0050;
}

.votesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 35%;
  font-size: 1.5rem;
}

.votesTitle {
  color: white;
}
