.createCampaignContainer {
  display: flex;
  flex-direction: column;
}

.createCampaignHeaderCloseButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.createCampaignHeaderCloseButton:hover {
  color: var(--gray);
}

.createCampaignButton {
  font-size: 1.7rem;
  margin: 5px 0px;
  color: var(--blue-dark);
  background-color: transparent;
  border-color: var(--blue-dark);
}

.createCampaignButton:hover {
  background-color: var(--blue-dark);
  color: var(--light);
}
