.containerBackground {
  background: linear-gradient(144deg, #004ea2, var(--blue-dark));
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 30px;
  text-align: center;
  color: var(--light);
}

.title {
  font-weight: bold;
  font-size: 2.3rem;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.features {
  margin-top: 40px;
  text-align: left;
}

.featuresList {
  list-style-type: disc;
  padding-left: 20px;
}

.aboutSection {
  margin-top: 40px;
  text-align: left;
}

.aboutSectionDescription {
  font-size: 16px;
  line-height: 1.6;
}
