.container {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.53);
  color: var(--light);
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 30px;
}

.resultsContainer {
  padding: 50px;
}
