.containerBackground {
  background: linear-gradient(144deg, #004ea2, var(--blue-dark));
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 30px;
  /* color: var(--light); */
}

.resultsContainer {
  background-color: var(--light);
  padding: 50px;
}
