@font-face {
  font-family: "Fira Sans";
  src: url("./Fira Sans.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans Bold";
  font-weight: bold;
  src: url("./Fira Sans Bold.ttf") format("truetype");
}
